body {
    background-color: #191b22;
    color: #d9e1e8;
    font-size: 20px;
    line-height: 200%;
    padding-top: 75px;
    text-align: center;
}

input[type="text"]
{
    font-size: 110%;
    width: 75%;
}

button {
    font-size: 110%;
}

canvas {
    max-width: 1000px;
    width: 90%;
}

a {
    text-decoration: none;
    color: #AAAAAA;
}

#outDiv {
    font-size: 20%;
}

#usersDiv {
    margin-top: 30px;
    line-height: 100%;
    font-size: 100%;
}

#credits {
    min-width: 90%;
}

.userSubDiv {
    min-width: 400px;
    padding: 20px;
}